<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Upload File</title>
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/header.css">
    </head>
    <header class="main-header">
        <nav>
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/">Upload</a>
                </li>
                <li class="main-header__item">
                    <a href="/list">List</a>
                </li>
            </ul>
        </nav>
    </header>

<body>
    <main>
        <h1>Successfully uploaded the page</h1>
    </main>
</body>

</html>